*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #ececed;
}
.container{
	min-width: 960px;
	width:100%;
	margin: 0 auto;
	padding: 0 10px;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
.nav{
	list-style: none;
}
header{
	background-color: #333;
	width: 100%;
	float: left;
}
li{
	list-style-type: none;
}
nav{
	height: 60px;

}
.logo{
	display: inline-block;
	float: left;
	line-height: 60px;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	padding-right: 20px;
	border-right: 2px solid #fff;
}
nav ul li{
	float: left;
	line-height: 60px;

}
nav ul li a{
	display: block;
	padding: 0 20px;
	text-decoration: none;
	color: #fff;
}
nav ul li a:hover{
	background-color: #444;
}

@media(max-width: 760px){
	nav{
		height:auto
	}
	nav .container{
		padding: 0;
	}
	.logo{
		border: 0;
		text-align: center;
		width: 100%;
	}
	nav ul{
		float: left;
		width: 100%;
		border-top: 2px solid #fff;
	}
	nav ul li{
		float: none;
		line-height: 18px;
	}
	nav ul li a{
		padding: 4px 0 4px 10px;
		border-left: 4px solid transparent
	}
	nav ul li a:hover{
		border-color: #fff;
	}
}